/*
  Theme Name:   Avisomnia
  Theme URI:    https://avisomnia.jp
  Description:  Avisomnia
  Author:       John Doe
  Author URI:   https://avisomnia.jp
  Template:     twentynineteen
  Version:      1.0.0
  License:      GNU General Public License v2 or later
  License URI:  http://www.gnu.org/licenses/gpl-2.0.html
  Tags:         
  Text Domain:  avisomnia

*/

@import 'node_modules/getbasis/src/css/basis-core'
@import 'node_modules/getbasis/src/css/foundation/base.styl'
@import 'styles/common.styl'
@import 'styles/header.styl'
@import 'styles/entry.styl'
@import 'styles/footer.styl'
@import 'styles/parallax.styl'
