.archive.category .page-title
  display flex

.archive,
.search,
.error404
  .page-header
    margin-top 2rem
    margin-bottom 2rem

.home .entry-header
  display none

.entry .entry-title:before
  display none

.entry .entry-content > *,
.entry .entry-summary > *
    max-width 100%
    width 100%

.entry .entry-content .wp-block-separator,
.entry .entry-content hr
  margin 0
  max-width 100%

h1:not(.site-title):before,
h2:before,
.comments-area .comments-title-wrap .comments-title:before
  display none

.home .entry-content *:last-child
  margin-bottom 0

.home .entry-footer
  display none

.comments-area
  max-width none
