
.wp-block-image.parallax
  position relative
  overflow hidden
  width 100vw
  height 100vh

  > img
    object-fit cover

  .parallax-container
    position absolute
    top 0
    left 0
    display flex
    flex-direction column
    padding 32px
    width 100vw
    height 100vh
    align-items center
    justify-content center

    > .wp-block-columns
      width 100%
